html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #635f89;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  margin-block: auto;
  margin-top: 2rem;
  padding: 1.5rem;
  border: 3px dotted #eee;
}
.file-list img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
